<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/header::head-fragment"></head>
<body>
<header th:replace="admin/header::header-fragment"></header>

<div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
        </div>
    </div>
    <div class="content">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Category</h3>
            </div> <!-- /.card-body -->
            <div class="card-body">
                <div class="panel panel-default">
                    <div style="padding: 10px 0 20px 10px;">
                        页面布局制作及跳转逻辑Category
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="admin/footer::footer-fragment"></div>

<div th:replace="admin/commonjs::commonjs-fragment"></div>

</body>
</html>