<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/header::head-fragment"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <header th:replace="admin/header::header-fragment"></header>
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">会员管理页</h3>
                    </div> <!-- /.card-body -->

                    <div class="card-body">
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="lockUser(0)"><i
                                    class="fa fa-plus"></i>&nbsp;解除禁用
                            </button>
                            <button class="btn btn-danger" onclick="lockUser(1)"><i
                                    class="fa fa-trash-o"></i>&nbsp;禁用账户
                            </button>
                        </div>
                        <div class="panel panel-default">
                            <table id="jqGrid"></table>
                            <div id="jqGridPager"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<div th:replace="admin/commonjs::commonjs-fragment"></div>
<!--<script type="text/javascript" th:href="@{/admin/plugins/jqGrid-5.4.0/js/jquery.jqGrid.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/admin/plugins/jqGrid-5.4.0/js/jquery.jqGrid.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/admin/plugins/jqGrid-5.4.0/js/minified/i18n/grid.locale-cn.js}"></script>-->
<script type="text/javascript" th:src="@{/admin/dist/js/mallUser.js}"></script>
</body>
</html>