<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/header::head-fragment"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <header th:replace="admin/header::header-fragment"></header>
    <!--/*@thymesVar id="path" type=""*/-->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">商品信息管理页</h3>
                    </div> <!-- /.card-body -->
                    <div class="card-body">

                        <div class="row" style="border-top: none; padding: 0">
                            <div class="col-sm-4">
                                <!-- select -->
                                <div class="form-group">
                                    <label for="levelOne">一级分类</label>
                                    <select class="custom-select" id="levelOne" onchange="getList('#levelOne')">
                                        <th:block th:unless="${null == firstLevel}">
                                            <th:block th:each="c : ${firstLevel}">
                                                <option th:value="${c.categoryId}" th:text="${c.categoryName}"></option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- select -->
                                <div class="form-group">
                                    <label for="levelTwo">二级分类</label>
                                    <select class="custom-select" id="levelTwo" onchange="getList('#levelTwo')">
                                        <th:block th:unless="${null == secondLevel}">
                                            <th:block th:each="d : ${secondLevel}">
                                                <option th:value="${d.categoryId}" th:text="${d.categoryName}"></option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- select -->
                                <div class="form-group">
                                    <label for="levelThree">三级分类</label>
                                    <select class="custom-select" id="levelThree">
                                        <th:block th:unless="${null == thirdLevel}">
                                            <th:block th:each="e : ${thirdLevel}">
                                                <option th:value="${e.categoryId}" th:text="${e.categoryName}"></option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- input -->
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="form-group col-6">
                                <label class="col-form-label" for="goodName"><i class="fas fa-check"></i>商品名称</label>
                                <input type="text" class="form-control" id="goodName" placeholder="Enter ..." required>
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label" for="goodBrief"><i class="fas fa-check"></i>商品简介</label>
                                <input type="text" class="form-control" id="goodBrief" placeholder="Enter ..." required>
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label" for="goodOriginalPace"><i class="fas fa-check"></i>商品原始价格</label>
                                <input type="number" class="form-control" id="goodOriginalPace" placeholder="Enter ..." required>
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label" for="goodShellPace"><i
                                        class="fas fa-check"></i>商品售卖价格</label>
                                <input type="number" class="form-control" id="goodShellPace" placeholder="Enter ..."
                                       required>
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label" for="goodInventory"><i
                                        class="fas fa-check"></i>商品库存数</label>
                                <input type="number" class="form-control" id="goodInventory" placeholder="Enter ..."
                                       required>
                            </div>
                            <div class="form-group col-6">
                                <label class="col-form-label" for="goodTag"><i
                                        class="fas fa-check"></i>商品标签</label>
                                <input type="text" class="form-control" id="goodTag" placeholder="Enter ..."
                                       required>
                            </div>
                        </div>

                        <div>
                            <label for="goodDetail">商品详情：</label>
                            <textarea id="goodDetail" style="width: 100%;height: 450px"></textarea>
                        </div>

                        <div class="mt-2 d-flex flex-row-reverse">
                            <button class="col-2 btn btn-block bg-gradient-info btn-lg" onclick="saveGood()">保存商品</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<div th:replace="admin/commonjs::commonjs-fragment"></div>
<script th:src="@{/admin/plugins/kindeditor-4.1.12/kindeditor-all.js}"></script>
<script th:src="@{/admin/plugins/kindeditor-4.1.12/lang/zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/admin/dist/js/mall_goods_info.js}"></script>
</body>
</html>