<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Main Sidebar Container -->
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3" style="opacity: .8" src="">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">首页管理</li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a th:href="@{/admin/carousels}" th:class="${path}=='carousels'?'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            轮播图管理
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">商品管理</li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a th:href="@{/admin/goods}" th:class="${path}=='goods'?'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            商品信息管理
                        </p>
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">管理模块</li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a th:href="@{/admin/users}" th:class="${path}=='users'?'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            会员管理
                        </p>
                    </a>
                </li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a th:class="${path}=='category'?'nav-link active':'nav-link'"
                       th:href="@{/admin/category(parentId=0, categoryLevel=1, backParentId=0)}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            分类管理
                        </p>
                    </a>
                </li>


                <li class="nav-header">系统管理</li>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a th:href="@{/admin/profile}" th:class="${path}=='profile'?'nav-link active':'nav-link'">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            修改个人信息
                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a th:href="@{/admin/logout}" th:class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            安全退出
                        </p>
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</aside>

</html>